In [1]:
# -------- INFO --------
"""
Repository: https://github.com/NLBrien/mod550-2025
Date: 2025-10-12
Author: Nathan L.Brien
Course: MOD550 - Machine Learning
Title: Semester project
Description:    copying previous MOD550-P1-NLB-datasets.py code
                to data preview data in a notebook

Last modification date: 2025-10-12
"""

'\nRepository: https://github.com/NLBrien/mod550-2025\nDate: 2025-10-12\nAuthor: Nathan L.Brien\nCourse: MOD550 - Machine Learning\nTitle: Semester project\nDescription:    copying previous MOD550-P1-NLB-datasets.py code\n                to data preview data in a notebook\n\nLast modification date: 2025-10-12\n'

In [2]:
# -------- LIBRARIES --------

from MOD550_P1_NLB_datasets import (
    grfc_data,
    total_population_data,
    total_gdp_data,
    capita_gdp_data
)

In [3]:
# -------- IMPORT 1 --------
## grfc - Global Report on Food Crises (GRFC)

### Print dataset shape
print(f"Dataset shape (rows, columns): {grfc_data.shape}")
### Print features list
print(grfc_data.columns)
### Preview data (5 rows default)
grfc_data.head()

Dataset shape (rows, columns): (1323, 34)
Index(['ISO Code 3', 'Countries/territories', 'Region', 'GRFC edition',
       'Year of reference', 'Selection in the GRFC', 'Selection criteria',
       'Population group selected', 'Data availability', 'Source',
       'Population group/\nGeographical area analysed', 'Methodology',
       'Total country population', 'Population analysed',
       '% pop analysed of tot country pop', 'Analysis period',
       'Population in Phase 3 or above #', 'Population in Phase 3 or above %',
       'LOWER BOUND Population in Phase 3 or above #',
       'LOWER BOUND Population in Phase 3 or above %',
       'Population in Phase 1 #', 'Population in Phase 1 %',
       'Population in Phase 2 #', 'Population in Phase 2 %',
       'Population in Phase 3 #', 'Population in Phase 3 %',
       'Population in Phase 4 #', 'Population in Phase 4 %',
       'Population in Phase 5 #', 'Population in Phase 5 %',
       'Major Food Crisis', 'Primary driver', 'Secondary driver',
       'Tertiary driver'],
      dtype='object')

,ISO Code 3,Countries/territories,Region,GRFC edition,Year of reference,Selection in the GRFC,Selection criteria,Population group selected,Data availability,Source,...,Population in Phase 3 #,Population in Phase 3 %,Population in Phase 4 #,Population in Phase 4 %,Population in Phase 5 #,Population in Phase 5 %,Major Food Crisis,Primary driver,Secondary driver,Tertiary driver
0,AFG,Afghanistan,ASIA,2017.0,2016.0,Y,GIEWS,Whole country,Y,IPC,...,6752721,0.25,1705547,0.06,0,0,Y,Conflict/insecurity,NaN,NaN
1,AFG,Afghanistan,ASIA,2018.0,2017.0,Y,GIEWS,Whole country,Y,IPC,...,5710868,0.1969,1894944,0.065334,0,0,Y,Conflict/insecurity,NaN,NaN
2,AFG,Afghanistan,ASIA,2019.0,2018.0,Y,GIEWS,Whole country,Y,IPC,...,7731348,0.342594,2897164,0.12838,0,0,Y,Conflict/insecurity,NaN,NaN
3,AFG,Afghanistan,ASIA,2020.0,2019.0,Y,GIEWS,Whole country,Y,IPC,...,10534591,0.29,3368087,0.09,0,0,Y,Conflict/insecurity,NaN,NaN
4,AFG,Afghanistan,ASIA,2021.0,2020.0,Y,GIEWS,Whole country,Y,IPC,...,11419868,0.28,5524317,0.14,0,0,Y,Conflict/insecurity,NaN,NaN

In [4]:
# -------- IMPORT 2 --------
## total_population - Total population per country

#### Print dataset shape
print(f"Dataset shape (rows, columns): {total_population_data.shape}")
#### Print features list
print(total_population_data.columns)
#### Preview data (5 rows default)
total_population_data.head()

Dataset shape (rows, columns): (266, 70)
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023', '2024', 'Unnamed: 69'],
      dtype='object')

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54922.0,55578.0,56320.0,57002.0,57619.0,58190.0,...,108727.0,108735.0,108908.0,109203.0,108587.0,107700.0,107310.0,107359.0,107624.0,NaN
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130075728.0,133534923.0,137171659.0,140945536.0,144904094.0,149033472.0,...,623369401.0,640058741.0,657801085.0,675950189.0,694446100.0,713090928.0,731821393.0,750503764.0,769294618.0,NaN
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,9035043.0,9214083.0,9404406.0,9604487.0,9814318.0,10036008.0,...,34700612.0,35688935.0,36743039.0,37856121.0,39068979.0,40000412.0,40578842.0,41454761.0,42647492.0,NaN
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,97630925.0,99706674.0,101854756.0,104089175.0,106388440.0,108772632.0,...,429454743.0,440882906.0,452195915.0,463365429.0,474569351.0,485920997.0,497387180.0,509398589.0,521764076.0,NaN
4,Angola,AGO,"Population, total",SP.POP.TOTL,5231654.0,5301583.0,5354310.0,5408320.0,5464187.0,5521981.0,...,29183070.0,30234839.0,31297155.0,32375632.0,33451132.0,34532429.0,35635029.0,36749906.0,37885849.0,NaN

In [5]:
# -------- IMPORT 3 --------
## total_gdp - Total GDP per country

#### Print dataset shape
print(f"Dataset shape (rows, columns): {total_gdp_data.shape}")
#### Print features list
print(total_gdp_data.columns)
#### Preview data (5 rows default)
total_gdp_data.head()

Dataset shape (rows, columns): (266, 70)
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023', '2024', 'Unnamed: 69'],
      dtype='object')

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.983635e+09,3.092429e+09,3.276184e+09,3.395799e+09,2.481857e+09,2.929447e+09,3.279344e+09,3.648573e+09,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.420993e+10,2.496326e+10,2.707802e+10,3.177483e+10,3.028492e+10,3.381219e+10,...,8.289612e+11,9.730251e+11,1.012291e+12,1.009747e+12,9.334072e+11,1.085605e+12,1.191639e+12,1.176910e+12,1.287677e+12,NaN
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.811657e+10,1.875346e+10,1.805322e+10,1.879944e+10,1.995593e+10,1.426000e+10,1.449724e+10,1.715223e+10,NaN,NaN
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.190511e+10,1.270803e+10,1.363092e+10,1.446926e+10,1.580394e+10,1.692124e+10,...,7.000282e+11,6.940513e+11,7.778404e+11,8.332889e+11,7.972952e+11,8.581145e+11,8.936399e+11,8.147285e+11,6.700257e+11,NaN
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.276162e+10,7.369015e+10,7.945069e+10,7.089796e+10,4.850156e+10,6.650513e+10,1.043997e+11,8.487516e+10,8.039694e+10,NaN

In [6]:
# -------- IMPORT 4 --------
## capita_gdp - GDP per capita (person) per country

#### Print dataset shape
print(f"Dataset shape (rows, columns): {capita_gdp_data.shape}")
#### Print features list
print(capita_gdp_data.columns)
#### Preview data (5 rows default)
capita_gdp_data.head()

Dataset shape (rows, columns): (266, 70)
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023', '2024', 'Unnamed: 69'],
      dtype='object')

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,27441.529662,28440.051964,30082.127645,31096.205074,22855.932320,27200.061079,30559.533535,33984.790620,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP per capita (current US$),NY.GDP.PCAP.CD,186.121835,186.941781,197.402402,225.440494,208.999748,226.876513,...,1329.807285,1520.212231,1538.901679,1493.817938,1344.103210,1522.393346,1628.318944,1568.159891,1673.841139,NaN
2,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,522.082216,525.469771,491.337221,496.602504,510.787063,356.496214,357.261153,413.757895,NaN,NaN
3,Africa Western and Central,AFW,GDP per capita (current US$),NY.GDP.PCAP.CD,121.939925,127.454189,133.827044,139.008291,148.549379,155.565216,...,1630.039447,1574.230560,1720.140280,1798.340685,1680.039332,1765.954788,1796.668633,1599.392983,1284.154441,NaN
4,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1807.952941,2437.259712,2538.591391,2189.855714,1449.922867,1925.874661,2929.694455,2309.534130,2122.083690,NaN